<h1 mat-dialog-title>Dados Cliente</h1>
<div style="padding: 15px; font-weight: 600;">
  <div mat-dialog-content>
    <div class="chat-with">
      <p>Nome:  {{data.contato?.Lista?.Nome}} </p>
      <p>CPF:  {{data.contato?.Lista?.Documento}}</p>
      <p>Telefone: {{data.contato?.Lista?.Telefone}}</p>
      <p>Chave(EC): {{data.contato?.Lista?.Chave}}</p>
      <p>Email: {{data.contato?.Lista?.Email}}</p>

    </div>
  </div>
  <div mat-dialog-actions style="text-align: right">

  </div>
</div>
