<h1 mat-dialog-title>Abre Atendimento</h1>
<div style="padding: 15px; font-weight: 600;">
  <div mat-dialog-content>
    <div class="chat-with">
      <audio controls >
        <source [src]="Data.url" type="audio/ogg; codecs=opus" />
        <source [src]="Data.url" type="audio/ogg; codecs=vorbis" />
        <source [src]="Data.url" type="audio/mpeg" />
        Audio não suportado nesse browser!
      </audio>

      <video  controls class="imgchat" >
        <source [src]="Data.url" type="video/mp4" />
        <source [src]="Data.url" type="video/ogg" />
        Video não suportado nesse browser!
      </video>
    </div>
  </div>
  <div mat-dialog-actions style="text-align: right">

  </div>
</div>

